@import '../../../../util/sass/rem-converter.scss';
@import '../../../../util/sass/global-variables.scss';

.article__product-list {
  display: flex;
  border-left: 1px solid LightGrey;
  border-right: 1px solid LightGrey;
  right: calculateRem($GLOBAL_MARGIN);
  font-size: calculateRem(13);
  background-color: white;

  > div {
    justify-content: space-between;
    padding: calculateRem(16);
    color:  #666666;
    font-weight: bold;
  }

  &:after {
    content: '';
    border-bottom: 1px solid $MENU_ITEM_COLOR;
    width: 85%;
    margin-left: calculateRem(16);
    margin-top: calculateRem(45);
    position: absolute;
  }
}

.article__cart-result {
  display: flex;
  position: absolute;
}

.div__cart-row {
  background-color: red;
}

.a__finish-button {
  background-color: #5A9711;
  text-decoration: none;
  color: white;
  padding: calculateRem(16);
  margin: 0 calculateRem(16) calculateRem(16) calculateRem(16);
  font-size: calculateRem(14);
  font-weight: bold;
}

.CartWrapper {
  position: absolute;
  right: $GLOBAL_MARGIN;
}

.section__finish-cart {
  display: flex;
  justify-content: space-between;
  margin: calculateRem(16);
  color:  #666666;
  font-weight: bold;
  font-size: calculateRem(13);
}

.div__finish-cart-wrapper {
  display: flex;
  flex-direction: column;
  border-left: 1px solid LightGrey;
  border-right: 1px solid LightGrey;
  border-bottom: 1px solid LightGrey;
}