@import '../../../../util/sass/rem-converter.scss';
@import '../../../../util/sass/global-variables.scss';

.div__header--background {
  background-color: $MENU_BACKGROUND_COLOR;
}

.section__user-menu-mobile {
  display: flex;
}

.article__user-menu {
  display: flex;
  justify-content: space-between;
  margin: calculateRem(16);
}

.img__logo-mobile {
  width: calculateRem(50);
  height: calculateRem(50);
}

.img__search-mobile {
  width: 26px;
  height: 30px;
}

.img__search, 
.img__logo, 
.div__menu-wrapper, 
.article__header-welcome {
  display: none;
}